/* body,
ul {
  margin: 0;
  padding: 0;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

ul li {
  list-style: none;
  cursor: pointer;
} */

li {
  cursor: pointer;
}
